%script{:src => "http://widgets.twimg.com/j/2/widget.js"}
:javascript
  new TWTR.Widget({
    version: 2,
    type: 'profile',
    rpp: 5,
    interval: 6000,
    width: 'auto',
    height: 100,
    theme: {
      shell: {
        background: '#333333',
        color: '#ffffff'
      },
      tweets: {
        background: '#131f14',
        color: '#ffea8b',
        links: '#65c73b'
      }
    },
    features: {
      scrollbar: false,
      loop: false,
      live: false,
      hashtags: true,
      timestamp: true,
      avatars: false,
      behavior: 'all'
    }
  }).render().setUser('antoinequhen').start();
